<div id="box">
    <h3>Skrinja Objav</h3>

    {% for item in YearsAndMonths %}
    <p>
        <a href="{{ path('_arhivePost', ({'year': item.year, 'month': item.month})) }}" >
            {{ item.month}}, {{item.year}} &raquo;
        </a>
    </p>
    {% endfor %}
</div>
