{% extends 'SanoStaticBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

<div class="vsebina">
    <h1>Komentarji:</h1>
    {% render 'SanoBlogBundle:Comment:box' with { 'limit': 10 } %}
    {% for item in comment %}
    <div id="news">
        <p><span>Ime:</span>{{ item.getName }}</p>
        <p><span>Komentar:</span><br />{{ item.getComment }}</p>
        <p><span>Creation Date:</span>{{ item.getCreationDate|date('d.m.Y H:i:s') }}</p>
    </div>
{% endfor %}
</div>
  
{% endblock %}
