parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  gmail
    mailer_host:       ~
    mailer_user:       sano.fuzir@gmail.com
    mailer_password:   $Master1

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
