{% extends 'SanoStaticBundle::layout.html.twig' %}

{% block title %}Sano Fužir{% endblock %}

{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

<div class="vsebina">
    <h1>Kontakt</h1>
    <div>
        <p>
            <b>Sano Fužir</b><br />
            Loke pri Mozirju 44c<br />
            3330 Mozirje
        </p>
        <p>
            Tel: 070 400 553
        </p>
        <p>
            Email: <a href="mailto:sano.fuzir@gmail.com" target="_blank">sano.fuzir@gmail.com</a>
        </p>
    </div>
</div>

{% endblock %}
