<div id="box">
    <h3>Skrinja Novic:</h3>

    {% for item in YearsAndMonths %}
    <p>
        <a href="{{ path('_arhiveNews', ({'year': item.year, 'month': item.month})) }}" >
            {{ item.creation_date|date("M") }}, {{item.year}} &raquo;
        </a>
    </p>
    {% endfor %}
</div>
