{% extends 'SanoStaticBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
 
<div class="vsebina">
    <h1>Admin urejanje Novice</h1>
    <form action="{{ id ? path('_editNews', {'id': id}) : path('_addNews') }}" 
          method="post" {{ form_enctype(form) }} novalidate>

    {{ form_widget(form) }}
    <input type="submit" />
    </form>
</div>

{% endblock %}
