<div style="padding: 20px;">
    <h3>Vnešena je bila novica z id: {{ news.id }}</h3>
    <p><strong>Naslov</strong>: {{ news.Title }}</p>
    <p><strong>Povzetek</strong>: {{ news.Summary }}</p>
    <p><strong>Text</strong>:<br /> {{ news.text }}</p>
</div>
