{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

<h1>Login</h1>

    <form action="" method="post" id="login">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="_username" />
        </div>
        <br />
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="_password" />
        </div>
        <br />
        <input type="submit" class="symfony-button-grey" value="LOGIN" />
    </form>
<p style="margin-top: 10px;">
    Še niste registrirani? <a href="{{ path('_register') }}">Za registracijo kliknite tukaj</a>
</p>
    
{% endblock %}
